<nav class="navbar navbar-expand-lg bg-dark py-3">
  <div class="container">
    <a class="navbar-brand link-light" >NOTE APP</a>
    <button class="navbar-toggler text-opacity-25 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span  class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-2 p-lg-0">
        @if (isLogin()) {
          <li class="nav-item">
            <a class="nav-link mx-3 ps-1  link-light" routerLink="/home" routerLinkActive="active-link" aria-current="page" >Home</a>
          </li>
        }
        @if (!isLogin()) {
          <li class="nav-item">
            <a class="nav-link mx-3 ps-1  link-light" routerLink="/login" routerLinkActive="active-link" aria-current="page" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 ps-1  link-light" routerLink="/register" routerLinkActive="active-link" aria-current="page" >Register</a>
          </li>
        }

        @if (isLogin()) {
          <li class="nav-item">
            <a (click)="logout()" class="nav-link mx-3 ps-1  link-light" aria-current="page" >Logout</a>
          </li>
        }

      </ul>

    </div>
  </div>
</nav>